        body {
        background-color: lightgray;
    }
    
    #bg {
        background-color: white;
        border-radius: 2%;
        width: 360px;
        height: auto;
        margin-top: 4%;
        margin-bottom: 2%;
        margin-left: 36%;
        margin-right: 36%;
    }
    
    .img {
        border-radius: 5%;
        width: 90%;
        height: 90%;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 4%;
    }
    
    h1 {
        font-family: outfit;
        font-size: 26px;
        text-align: center;
        font-weight: 700;
        padding-top: 0px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0px;
    }
    
    p {
        font-family: outfit;
        font-size: 17px;
        text-align: center;
        font-weight: 400;
        padding-top: 0%;
        padding-bottom: 9%;
        padding-left: 13%;
        padding-right: 13%;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
        padding-bottom: 5px;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
        padding-bottom: 5px;
    }
